<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home/login.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input class="id" type="text" placeholder="아이디" />
          <input class="name" type="text" placeholder="이름" />

          <input
            class="passwd"
            type="current-password"
            placeholder="비밀번호"
          />
          <input
            class="confirm-passwd"
            type="current-password"
            placeholder="비밀번호 확인"
          />
          <p class="button">Sign up</p>
          <p class="message">Already registered? <a href="/login">login</a></p>
        </form>
      </div>
    </div>
    <script src="/home/register.js"></script>
  </body>
</html>
